@using Microsoft.Extensions.Localization;
@using Personal_Collection_Manager.Resources.Views
@using Personal_Collection_Manager.Resources.Views.Shared;
@inject IStringLocalizer<_ForbidenAccessPartial> PartialLocalizer

@model (string Item, string Action)

<h2 class="text-danger">
    @PartialLocalizer["This is not your"]
    @Model.Item
    !
</h2>
<p class="text-danger">
    @PartialLocalizer["You are not allowed to"]
    @Model.Action
    @PartialLocalizer["this"]
    @Model.Item
    !
</p>