@using Microsoft.Extensions.Localization;
@using Personal_Collection_Manager.Resources.Views
@inject IStringLocalizer<SharedResources> SharedLocalizer

@using Personal_Collection_Manager.Helpers;
@inject ICurrentUserHelper CurrentUser

@model CollectionViewModel;

<div class="col">
    <div class="card shadow-sm">
        <a href="~/Collection/Details/@Model.Id">
            <div class="card shadow-sm" align="center">
                <h4 x="50%" y="50%" fill="#eceeef" dy=".3em">
                    @Model.Title
                </h4>
                <img class="collectionImg" src="@Model.ImageUrl" />
            </div>
        </a>
        <div class="card-body">
            @if (!(await CurrentUser.HasId(Model.UserId, User)))
            {
                <p class="text-muted">
                    <span>@SharedLocalizer["Owner"].Value: </span>
                    <a asp-controller="Dashboard" asp-action="Index" asp-route-userId="@Model.UserId">@Model.UserName</a>
                </p>
            }
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a asp-controller="Collection" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-primary">
                        @SharedLocalizer["ViewButton"].Value
                    </a>
                    @if (await CurrentUser.HasIdOrIsAdmin(Model.UserId, User))
                    {
                        <a asp-controller="Collection" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-secondary">
                            <span>@SharedLocalizer["EditButton"].Value</span>
                        </a>
                        <a asp-controller="Collection" asp-action="Delete" asp-route-id="@Model.Id" onclick="ConfirmAction('delete', 'collection', event);" class="btn btn-sm btn-outline-danger">
                            <span>@SharedLocalizer["DeleteButton"].Value</span>
                        </a>
                    }
                </div>
                <small class="text-muted">@Model.Topic</small>
            </div>
        </div>
    </div>
</div>