@using Personal_Collection_Manager.Data.DataBaseModels.Enum;
@model CollectionView;

@{
    ViewData["Title"] = "Create collection";
}

<div class="container bootdey">
    <div class="col-md-12">
        <section class="panel">
            <div class="row panel-body">
                <div class="col-md-6">
                    <div class="pro-img-details">
                        <img src="@Model.ImageUrl" alt="">
                    </div>
                    <div class="btn-group mt-2">
                        <a asp-controller="Dashboard" asp-action="Index" class="btn btn-outline-primary">Dashboard</a>
                        <a asp-controller="Collection" asp-action="Edit" asp-route-Id="@Model.Id" class="btn btn-outline-secondary">Edit</a>
                        <a asp-controller="Collection" asp-action="Delete" asp-route-Id="@Model.Id" onclick="ConfirmDeleting('collection', event);" class="btn btn-outline-danger">Delete</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="pro-d-title">@Model.Name</h3>
                    <p>@Model.Description</p>
                    <div class="product_meta">
                        <span class="posted_in"> <strong>Topic:</strong> <a rel="tag" href="#">@Model.Topic</a></span>
                    </div>
                    <div class="album p-4 m-2 bg-light">
                        <label>Aditional fields:</label>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td><label class="form-label">Name</label></td>
                                    <td><label class="form-label">Type</label></td>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.AdditionalFields.Length; i++)
                                {
                                    <tr class="table-secondary">

                                        <td>@Model.AdditionalFields[i].Name</td>
                                        <td>@Model.AdditionalFields[i].Type</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
