@using Microsoft.AspNetCore.Identity;
@using Personal_Collection_Manager.Data.DataBaseModels;
@inject UserManager<ApplicationUser> _userManager;
@model List<ItemListViewModel>

@{
    string userId = (await _userManager.GetUserAsync(User)).Id;
}

@foreach (var item in Model)
{
    <tr class="table-secondary">
        <td>@item.Title</td>
        @foreach (var value in item.Values)
        {
            <td>
                @switch (value)
                {
                    case "true":
                        <div class="multiline-div"><i class="bi bi-check2"></i></div>
                        break;
                    case "false":
                        <div class="multiline-div"><i class="bi bi-x-lg"></i></div>
                        break;
                    default:
                        <div class="multiline-div">@value</div>
                        break;
                }
            </td>
        }
        <td>
            <div class="btn-group">
                <a asp-controller="Item" asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">
                    View
                </a>
                @if (item.UserId.Equals(userId))
                {
                    <a asp-controller="Item" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">
                        Edit
                    </a>
                    <a asp-controller="Item" asp-action="Delete" asp-route-id="@item.Id" onclick="ConfirmAction('delete', 'item', event);" class="btn btn-sm btn-outline-danger">
                        Delete
                    </a>
                }
            </div>
        </td>
    </tr>
}
