@using Personal_Collection_Manager.Helpers;
@inject ICurrentUserHelper CurrentUser

@model ItemViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bootdey">
    <div class="col-md-12">
        <section class="panel">
            <div class="row panel-body">
                <div class="col-md-3">
                    <h4 class="pro-d-title">@Model.Title</h4>
                    <div class="m-5">
                        @foreach (var tag in Model.Tags)
                        {
                            <p>@tag</p>
                        }
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="album p-4 m-2 bg-light">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td><label class="form-label">Additional information:</label></td>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Fields.Length; i++)
                                {
                                    <tr class="table-secondary">

                                        <td>@Model.Fields[i].Title</td>
                                        <td class="multiline-div">@Html.Raw(@Model.Fields[i].Value)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <div class="row mt-3 mb-3">
            @if (await CurrentUser.IsSignedIn(User))
            {
                <div class="col">
                    <div class="btn-group">
                        <button class="btn btn-outline-success">
                            <i class="bi bi-hand-thumbs-up"></i>
                        </button>
                        <button class="btn btn-outline-danger">
                            <i class="bi bi-hand-thumbs-down"></i>
                        </button>
                    </div>
                </div>
            }
            <div class="d-flex justify-content-end mb-2 col">
                <div class="btn-group">
                    <a class="btn btn-outline-primary col" asp-controller="Collection" asp-action="Details" asp-route-id="@Model.CollectionId">
                        Show collection
                    </a>
                    @if (await CurrentUser.HasEmail(Model.AuthorEmail, User))
                    {
                        <a class="btn btn-outline-secondary col" asp-controller="Item" asp-action="Edit" asp-route-id="@Model.Id">
                            Edit
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="album p-4 m-2 bg-light">
            @if (await CurrentUser.IsSignedIn(User))
            {
                <div class="row me-2">
                    <div class="form-group col-12">
                        <textarea id="commentText" class="form-control autosize" placeholder="write your comment"></textarea>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <button id="sendCommentBtn" class="btn btn-outline-primary disabled">Comment</button>
                    </div>
                </div>
            }
            <input id="itemId" type="hidden" value="@Model.Id" />
            <div id="comments"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/item/details.js"></script>
}