@using Microsoft.Extensions.Localization;
@using Personal_Collection_Manager.Resources.Views
@inject IStringLocalizer<SharedResources> SharedLocalizer
@using Personal_Collection_Manager.Resources.Views.Item;
@inject IStringLocalizer<Details> DetailsLocalizer

@using Personal_Collection_Manager.Helpers;
@inject ICurrentUserHelper CurrentUser

@model ItemViewModel

@{
    ViewData["Title"] = SharedLocalizer["Details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container bootdey">
    <div class="col-md-12">
        <section class="panel">
            <div class="row panel-body">
                <div class="col-md-3">
                    <h4 class="pro-d-title">@Model.Title</h4>
                    @await Html.PartialAsync("_TagCloudPartial")
                </div>
                <div class="col-md-9">
                    <div class="album p-4 m-2 bg-gray-opaque">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td><label class="form-label">@DetailsLocalizer["Additional information:"]</label></td>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Fields.Length; i++)
                                {
                                    <tr class="bg-gray-opaque">

                                        <td>@Model.Fields[i].Title</td>
                                        <td class="multiline-div">@Html.Raw(@Model.Fields[i].Value)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <div class="row mt-3 mb-3">
            <div class="col">
                <span id="likes">@DetailsLocalizer["Likes"]: @Model.QuantityOfLikes</span>
                @if (await CurrentUser.IsSignedIn(User))
                {
                    <input id="userId" type="hidden" value="@await CurrentUser.GetId(User)">
                    <div class="btn-group">
                        <button id="thumbUpBtn" class="btn btn-outline-success">
                            <i class="bi bi-hand-thumbs-up"></i>
                        </button>
                        <button id="thumbDownBtn" class="btn btn-outline-danger">
                            <i class="bi bi-hand-thumbs-down"></i>
                        </button>
                    </div>
                }
            </div>
            <div class="d-flex justify-content-end mb-2 col">
                <div class="btn-group">
                    <a class="btn btn-outline-primary col" asp-controller="Collection" asp-action="Details" asp-route-id="@Model.CollectionId">
                        @DetailsLocalizer["Show collection"]
                    </a>
                    @if (await CurrentUser.HasEmailOrIsAdmin(Model.AuthorEmail, User))
                    {
                        <a class="btn btn-outline-secondary col" asp-controller="Item" asp-action="Edit" asp-route-id="@Model.Id">
                            @SharedLocalizer["EditButton"]
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="album p-4 m-2 bg-gray-opaque">
            @if (await CurrentUser.IsSignedIn(User))
            {
                <div class="row me-2">
                    <div class="form-group col-12">
                        <textarea id="commentText" class="form-control autosize" placeholder="write your comment"></textarea>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <button id="sendCommentBtn" class="btn btn-outline-primary disabled">
                            @DetailsLocalizer["Comment"]
                        </button>
                    </div>
                </div>
            }
            <input id="itemId" type="hidden" value="@Model.Id" />
            <div id="comments"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/item/details.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud-1.0.4.min.js"></script>
    <script src="~/js/shared/tagcloud.js"></script>
}