@using Microsoft.Extensions.Localization;
@using Personal_Collection_Manager.Resources.Views
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject IStringLocalizer<Personal_Collection_Manager.Resources.Views.User.Index> UserIndexLocalizer

@using Personal_Collection_Manager.Helpers;
@inject ICurrentUserHelper CurrentUser

@using Personal_Collection_Manager.Data.DataBaseModels;
@model List<UserViewModel>

@{
    ViewData["Title"] = SharedLocalizer["User manager"].Value;
}

@if (await CurrentUser.IsSignedInAdmin(User))
{
    <div class="text-center">
        <h3>@SharedLocalizer["Users"].Value</h3>

        <table class="table">
            <thead>
                <tr>
                    <td><label class="form-label">@SharedLocalizer["User name"].Value</label></td>
                    <td><label class="form-label">@SharedLocalizer["Email"].Value</label></td>
                    <td><label class="form-label">@UserIndexLocalizer["Role"].Value</label></td>
                    <td><label class="form-label">@UserIndexLocalizer["Blocked"].Value</label></td>
                    <td><label class="form-label"></label></td>
                    <td><label class="form-label"></label></td>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var user in Model)
                    {
                        <tr class="bg-gray-opaque">
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>@user.Role</td>
                            <td>@user.Blocked</td>
                            <td>
                                <a asp-controller="Collection" asp-action="All" asp-route-userId="@user.Id" class="btn btn-sm btn-outline-light">
                                    @UserIndexLocalizer["Collections"].Value
                                </a>
                                <div class="btn-group">
                                    <a asp-controller="User" asp-action="ChangeRole" asp-route-id="@user.Id" class="btn btn-sm btn-outline-light">
                                        @UserIndexLocalizer["Change role"].Value
                                    </a>
                                    <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" onclick="ConfirmAction('delete', 'user @user.UserName', event);" class="btn btn-sm btn-outline-danger">
                                        @SharedLocalizer["DeleteButton"].Value
                                    </a>
                                    <a asp-controller="User" asp-action="Block" asp-route-id="@user.Id" onclick="ConfirmAction(@(user.Blocked?"'unblock'":"'block'"), 'user @user.UserName', event);" class="btn btn-sm btn-outline-warning">
                                        @(user.Blocked ? @UserIndexLocalizer["Unblock"].Value : @UserIndexLocalizer["Block"].Value)
                                    </a>
                                </div>
                            </td>
                            <td>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <h4 class="alert-danger">No users were found in DB</h4>
                }
            </tbody>
        </table>
    </div>
}
else
{
    @Html.Partial("_ForbidenAccessPartial", ("area", "access"))
}
