@using Microsoft.Extensions.Localization;
@using Personal_Collection_Manager.Resources.Views;
@inject IStringLocalizer<SharedResources> sharedLocalizer
@inject IStringLocalizer<Personal_Collection_Manager.Resources.Views.Home.Index> indexLocalizer

@{
    ViewData["Title"] = indexLocalizer["Home Page"];
}


<div class="text-center mb-5">
    <h1 class="display-4">@indexLocalizer["Header1"]</h1>
    <div id="theBiggestCollections"></div>
</div>

<div class="text-center mt-5 mb-5">
    @await Html.PartialAsync("_TagCloudPartial")
</div>

<div class="mb-5 mt-5">
    <h1 class="display-4">@indexLocalizer["Header2"]</h1>
    <table id="tableOfRecentItems" class="table">
        <thead>
            <tr>
                <td><label class="form-label">@sharedLocalizer["Title"]</label></td>
                <td><label class="form-label">@sharedLocalizer["Tags"]</label></td>
                <td><label class="form-label">@sharedLocalizer["Collection"]</label></td>
                <td><label class="form-label">@sharedLocalizer["Owner"]</label></td>
            </tr>
        </thead>
        <tbody id="bodyOfRecentItemsTable">
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/home/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud-1.0.4.min.js"></script>
    <script src="~/js/shared/tagcloud.js"></script>
}